* {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}

a {
    color: #3f3f46;
    text-decoration: none;
    transition: .3s ease;
}

a:hover {
    color: #74dbc8;
}

input {
    padding: 2px 10px;
    border: 0;
    outline: 0;
    background-color: #e1e8f0;
}

.searchbar {
    width: 75%;
    border-radius: 25px;
    height: 23px;
}

.user-avatar-small {
    width: 32px;
}

.user-avatar-med {
    width: 55px;
}

body {
    display: grid;
    grid-template-areas: "nav header"
                         "nav container"
                         "nav footer";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr 0.3fr;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    gap: 5px;
}

nav {
    grid-area: nav;
    background-color: #18a5d3;
    padding: 10px;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 3fr;
}

.nav-grid-head {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-grid-title {
    font-size: 24px;
}

.nav-grid-top {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    margin-top: 30px;
}

.nav-grid-bottom {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-top: 30px;
}

.nav-grid-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    grid-area: header;
}

.header-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    box-shadow: rgb(0 0 0 / 15%) 3.95px 3.95px 5.6px;
}

.header-grid-search {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-items: center;
    gap: 3px;
    margin-left: 20px;
}

.header-grid-right {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.header-grid-greeting {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 400px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 20px;
    margin-top: 10px
}

.header-grid-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 280px;
    margin-left: 75px;
    margin-top: 20px;
    gap: 20px;
}

.headerbtn {
    border-radius: 100px;
    background-color:#1892d3;
    color: white;
    padding: 5px 6px 7px 6px;
    width: 78px;
    height: 35px;
    border: 1px solid #1375a9;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    transition: .5s ease;
    cursor: pointer;
}

.headerbtn:hover {
    background-color: rgb(233, 238, 255);
    border-color: rgb(233, 238, 255);
    color:#204994;
    font-weight: 600;
}

main {
    grid-area: container;
    background-color: rgb(233, 238, 255);
}

.container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
}

.main-projects-title {
    grid-column: span 2;
    font-weight: 700;
}

.main-projects-box {
    margin: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-left: 8px solid #204994;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    background-color: white;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.projects-box-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.side-stuff {
    display: grid;
    grid-template-rows: .1fr 3fr .1fr 1fr;
    width: 90%;
}

.announcement-grid {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    padding: 10px 15px 20px 15px;
    height: 75%;
    margin-top: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending-grid {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 10px;
    margin-bottom: 20px;
}

.trending-box {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 5px;
}

.announcement-box {
    font-size: .8rem;
    font-weight: 400;
    padding: 15px 5px;
}

.bb {
    border-bottom: 1px solid grey;
}

.trending-box-text {
    margin-left: 10px;
}

.username {
    font-size: .8rem;
    margin: 0;
    font-weight: 700;
    padding: 0;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: #e1e8f0;
    align-items: center;
    justify-content: center;
}